<div id="myModal-1" class="reveal-modal">
  <h5 class="lead">The Boathouse - June 23rd @ 11:00am</h5>
  <p>15241 Leeward Dr<br>
     Corpus Christi, TX 78418<br>
     361-589-9601
  </p>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="myModal-2" class="reveal-modal">
  <h5 class="lead">Cooking for a Cure! - August 23rd @ 12:00pm</h5>
  <p>Cooking for a Cure!<br>
     Welder Park Sinton, TX 78387<br>
     361-816-2924<br>
     <a href="http://www.readyornotfoundation.org">Buy Tickets</a>
  </p>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="myModal-3" class="reveal-modal">
  <h5 class="lead">Private Party - October 5th @ 12:00am</h5>
  <p>Beach Lodge Port Aransas, TX
  </p>
  <a class="close-reveal-modal">&#215;</a>
</div>