<div class="row">
 
          <div class="large-6 columns">
 
            <img src="http://placehold.it/500x662&text=Image"><br>
 
          </div>
 
 
          <div class="large-6 columns">
 
            <h3 class="show-for-small">Header<hr/></h3>
 
            <div class="panel">
              <h4 class="hide-for-small">Header<hr/></h4>
            <h5 class="subheader">Fusce ullamcorper mauris in eros dignissim molestie posuere felis blandit. Aliquam erat volutpat. Mauris ultricies posuere vehicula. Sed sit amet posuere erat. Quisque in ipsum non augue euismod dapibus non et eros. Pellentesque consectetur tempus mi iaculis bibendum. Ut vel dolor sed eros tincidunt volutpat ac eget leo.</h5>
            </div>

            <div class="row">
              <div class="large-12 small-12 columns">
                <div class="panel">
                  <%= render 'pages/soundcloud' %>  
                </div>
              </div>
            </div>
 
          </div>
 
        </div>
 
      <!-- Search Bar -->
 
        <div class="row">
 
          <div class="large-12 columns">
            <div class="radius panel">
 
              <div class="row collapse">
 
                <div class="large-6 columns">
                  <h3 class="show-for-small">What's going on:</h3>
 
                  <div class="">
                    <h4 class="hide-for-small">What's going on:</h4>
                    <h5 class="subheader">The Boathouse - June 23rd @ 11:00am</h5>
                    <h5 class="subheader">Cooking for a Cure! - August 23rd @ 12:00pm</h5>
                    <h5 class="subheader">Private Party - October 5th @ 12:00am</h5>
                  </div>
                </div>

                <div class="large-6 columns">
                  <%= render 'pages/twitter' %>  
                </div>
 
              </div>
 
          </div>
          </div>
 
        </div>
 
      <!-- End Search Bar -->
 
 
      <!-- Thumbnails -->
 
        <div class="row">
 
          <div class="large-12 show-for-small columns">
          <h3>Header</h3><hr>
        </div>
 
          <div class="large-3 small-6 columns">
            <img src="http://placehold.it/500x500&text=Thumbnail">
            <div class="panel">
              <p>Description</p>
            </div>
          </div>
 
          <div class="large-3 small-6 columns">
            <img src="http://placehold.it/500x500&text=Thumbnail">
            <div class="panel">
              <p>Description</p>
            </div>
          </div>
 
          <div class="large-3 small-6 columns">
            <img src="http://placehold.it/500x500&text=Thumbnail">
            <div class="panel">
              <p>Description</p>
            </div>
          </div>
 
          <div class="large-3 small-6 columns">
            <img src="http://placehold.it/500x500&text=Thumbnail">
            <div class="panel">
              <p>Description</p>
            </div>
          </div>
 
        </div>
