<div class="large-12 columns">
  <hr>
  <div class="row">
    <div class="large-5 columns">
      <p>Music Site</p>
    </div>
    <div class="large-7 columns">
      <ul class="inline-list right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Home", root_path %>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Home", root_path %></li>
      </ul>
    </div>
  </div>
</div>